@media (min-width: 992px) {
  .hexagon {
    position: relative;
    width: 200px;
    height: 175px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: #BCE0FD;
    margin: 0;
    transform: translate(50%, 0);
    z-index: 1;
  }

  .triangle {
    position: absolute;
    width: 100px;
    height: 87.5px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #2699FB;
  }

  .t1 {
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
  }

  .t2 {
    right: 0;
  }
}